.add-post {
    display: flex;
    width: 100%;
    background-color: var(--primary-background);

    /* height: 100vh; */
    justify-content: center;
  }
  
  .add-post-container {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 800px;
  }
  
  .head-title {
    display: flex;
    width: 100%;
  }
  
  .head-title > h1 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .post-container {
    display: flex;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(66, 42, 42, 0.19);
  }
  
  .post-options {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .post-option {
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    
  }
  
  .title {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    font-size: 0.9rem;
    width: 90%;
  }
  .title :focus{

    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 8px 0 #0055ff23, 0 6px 20px 0 #0055ff11;
  }
  .title > h3 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
  }
  
  .title > small {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .title > input {
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: none;
    width: 100%;
  }
  
  .title > input::placeholder {
    color: #ddd;
  }
  .title > input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 8px 0 #0055ff23, 0 6px 20px 0 #0055ff11;
  }
  
  .quill {
    height: 100%;
  }
  
  .react-quill {
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .ql-editor {
    height: 200px;
  }
  
  .button {
    max-width: fit-content;
    margin: 10px 5px;
    padding: 10px;
    background-color: var(--primary-color);
    color:white;
    border-radius: 4px;
    border: none;
  }
  
  button:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
    font-weight: bold;
  }