body{
  --primary-color: #f5cf50;
  --primary-background: #e6ecf0;
  --hover-color:#666665;
}
.App{
  display: flex;
  height: 100vh;
  /* max-width: 1300px; */
  width:1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
