.articlepage {
  display: flex;
  height: 100vh;
  /* max-width:1300px; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.articleCardview {
  border: 5px solid #EAEAEA;
  margin: 50px;
}

.articleHeadline {
  font-size: 20px !important;
  font-weight: 700 !important;
  border-bottom: 1px solid #e0dddd;
  padding-bottom: 10px;
}

.articleDesc {
  font-size: 16px !important;
  padding-top: 10px;
  color: gray !important;
}

.articleMain {
  width: 80% !important;
  margin-right: auto;
  margin-left: auto;
}